<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div><center>
<h3>You are receiving LITTLE CATTORS notifications</h3>
</center></div>
<div>
    <span th:text="${message}"></span>
    </div>
    <footer>
	<center>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    	<p>
    	<b>© 2020 LITTLE CARROTS INDIA PRIVATE LIMITED</b>, Pedda Rushikonda, VISAKHAPATNAM. <br/>
		<small>
    	Little Carrots  is a registered business name of LITTLE CARROTS INDIA PRIVATE LIMITED. 
    	Little Carrots and the LittleCarrots logo are registered trademarks of Little Carrots India Private Limited.
		</small>
    	</p>
	</center>
    </footer>
</body>
</html>